<brick-layout>
    <header id="sub-header" data-l10n-id="chooseText">Choose text</header>
    <brick-layout flex horizontal>
        <brick-layout id="books-and-bibles">
            <ul id="books-list" flex>
                {{#each books}}
                <li>
                    <a data-book="{{@key}}">{{this}}</a>
                </li>
                {{/each}}
            </ul>
            <ul id="bibles-list">
                {{#each bibles}}
                <li>
                    <a data-bible="{{this.ID}}">{{this.Language}} ({{this.Abbreviation}})</a>
                </li>
                {{/each}}
            </ul>
        </brick-layout>
        <ul id="chapters-list">
        </ul>
    </brick-layout>
</brick-layout>
